In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("week6_aggregation_example.csv")
df.head()

  Region  Gender  Year  Attendance
0   East  Female  2023        65.7
1   East  Female  2022        84.6
2   East  Female  2022        74.7
3  North  Female  2023        97.4
4  South    Male  2022        83.2

In [2]:
regional_avg = df.groupby('Region')['Attendance'].mean().reset_index()
print(regional_avg)

  Region  Attendance
0   East   80.593939
1  North   81.769231
2  South   80.341176
3   West   80.087500

In [3]:
by_region_gender = df.groupby(['Region', 'Gender'])['Attendance'].mean().reset_index()
print(by_region_gender)

  Region  Gender  Attendance
0   East  Female   79.352632
1   East    Male   82.278571
2  North  Female   81.285714
3  North    Male   82.333333
4  South  Female   80.214286
5  South    Male   80.933333
6   West  Female   83.968750
7   West    Male   72.325000

In [4]:
pivot = df.pivot_table(values='Attendance', index='Region', columns='Gender', aggfunc='mean')
print(pivot)

Gender     Female       Male
Region
East    79.352632  82.278571
North   81.285714  82.333333
South   80.214286  80.933333
West    83.968750  72.325000

In [5]:
df_2023 = df[df['Year'] == 2023]
avg_2023 = df_2023.groupby(['Region'])['Attendance'].mean().reset_index()
print(avg_2023)

  Region  Attendance
0   East   83.276923
1  North   82.655556
2  South   79.920000
3   West   85.000000

In [6]:
filtered = df[(df['Gender'] == 'Female') & (df['Attendance'] > 85)]
summary = filtered.groupby('Region')['Attendance'].mean()
print(summary)

Region
East     90.033333
North    93.933333
South    92.580000
West     91.811111
Name: Attendance, dtype: float64

In [8]:
df_filtered = df[(df['Gender'] == 'Male') & (df['Attendance'] > 85)]
df_filtered.groupby('Region')['Attendance'].agg(['mean', 'count'])

         mean  count
Region
East    95.34      5
North   94.35      6
South   90.40      1