In [1]:
import pandas as pd

df = pd.read_csv("week6_grouping_filtering.csv")
print(df.head())

  Region  Gender  Year  Attendance
0  South  Female  2023        91.8
1  North    Male  2022        76.1
2   East    Male  2023        62.4
3   West    Male  2023        70.2
4   East    Male  2022        68.5

In [3]:
print(df.isnull().sum())

# Drop rows with missing attendance
df_cleaned = df.dropna(subset=['Attendance'])
print("Rows after cleaning:", len(df_cleaned))

Region        0
Gender        0
Year          0
Attendance    5
dtype: int64
Rows after cleaning: 115

In [4]:
df_2023 = df_cleaned[df_cleaned['Year'] == 2023]
df_2023.head()

  Region  Gender  Year  Attendance
0  South  Female  2023        91.8
2   East    Male  2023        62.4
3   West    Male  2023        70.2
5  South  Female  2023        66.7
7   West  Female  2023        72.6

In [6]:
summary = df_2023.groupby(['Region', 'Gender'])['Attendance'].agg(['mean', 'count']).reset_index()
print(summary)

  Region  Gender       mean  count
0   East  Female  76.442857      7
1   East    Male  69.385714      7
2  North  Female  74.000000      5
3  North    Male  72.612500      8
4  South  Female  77.471429      7
5  South    Male  75.300000      7
6   West  Female  83.987500      8
7   West    Male  75.922222      9

In [7]:
pivot = df_2023.pivot_table(values='Attendance', index='Region', columns='Gender', aggfunc='mean')
print(pivot)

Gender     Female       Male
Region
East    76.442857  69.385714
North   74.000000  72.612500
South   77.471429  75.300000
West    83.987500  75.922222

In [10]:
region_avg = df_2023.groupby('Region')['Attendance'].mean()
high_regions = region_avg[region_avg > 70]
print(high_regions)

Region
East     72.914286
North    73.146154
South    76.385714
West     79.717647
Name: Attendance, dtype: float64

In [11]:
result = (
    df_cleaned[df_cleaned['Year'] == 2023]
    .groupby(['Region', 'Gender'])['Attendance']
    .agg(['mean', 'count'])
    .reset_index()
)
print(result)

  Region  Gender       mean  count
0   East  Female  76.442857      7
1   East    Male  69.385714      7
2  North  Female  74.000000      5
3  North    Male  72.612500      8
4  South  Female  77.471429      7
5  South    Male  75.300000      7
6   West  Female  83.987500      8
7   West    Male  75.922222      9