In [1]:
import pandas as pd
df = pd.read_csv("week6_grouping_filtering.csv")
df.head()

  Region  Gender  Year  Attendance
0  South  Female  2023        91.8
1  North    Male  2022        76.1
2   East    Male  2023        62.4
3   West    Male  2023        70.2
4   East    Male  2022        68.5

In [2]:
df_cleaned = df.dropna(subset=['Attendance'])

In [4]:
region_year = (
    df_cleaned.groupby(['Region', 'Year'])['Attendance']
    .mean()
    .reset_index()
)
print(region_year)

  Region  Year  Attendance
0   East  2022   71.250000
1   East  2023   72.914286
2  North  2022   76.537500
3  North  2023   73.146154
4  South  2022   81.969231
5  South  2023   76.385714
6   West  2022   74.833333
7   West  2023   79.717647

In [5]:
gender_region = (
    df_cleaned.groupby(['Region', 'Gender'])['Attendance']
    .mean()
    .reset_index()
)
print(gender_region)

  Region  Gender  Attendance
0   East  Female   74.050000
1   East    Male   68.991667
2  North  Female   71.553846
3  North    Male   77.831250
4  South  Female   80.164286
5  South    Male   77.900000
6   West  Female   80.631250
7   West    Male   74.084615

In [8]:
region_avg = df_cleaned.groupby('Region')['Attendance'].mean()
print("High Attendance:\n", region_avg[region_avg > 80])
print("Low Attendance:\n", region_avg[region_avg < 60])

High Attendance:
 Series([], Name: Attendance, dtype: float64)
Low Attendance:
 Series([], Name: Attendance, dtype: float64)